<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe1b6">  <td>20/07/31 18:38:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="searchTest.ProdDetails()[pri:0, instance:testSteps.searchTest@56aac163]">ProdDetails</td> 
  <td>main@1123629720</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/07/31 18:38:52</td>   <td>20871</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:testSteps.searchTest@56aac163]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/07/31 18:38:22</td>   <td>-9218</td> <td title="&gt;&gt;BaseClass.excelsetup()[pri:0, instance:testSteps.searchTest@56aac163]">&gt;&gt;excelsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1123629720</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/07/31 18:38:22</td>   <td>-8501</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initialize()[pri:0, instance:testSteps.searchTest@56aac163]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1123629720</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/07/31 18:38:41</td>   <td>10083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.screenshot(org.testng.ITestResult)[pri:0, instance:testSteps.searchTest@56aac163]">&lt;&lt;screenshot</td> 
<td>&nbsp;</td>  <td>main@1123629720</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>20/07/31 18:38:52</td>   <td>20869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.screenshot(org.testng.ITestResult)[pri:0, instance:testSteps.searchTest@56aac163]">&lt;&lt;screenshot</td> 
<td>&nbsp;</td>  <td>main@1123629720</td>   <td></td> </tr>
<tr bgcolor="bbe1b6">  <td>20/07/31 18:38:52</td>   <td>20857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="searchTest.searchitem()[pri:0, instance:testSteps.searchTest@56aac163]">searchitem</td> 
  <td>main@1123629720</td>   <td></td> </tr>
<tr bgcolor="bbe1b6">  <td>20/07/31 18:38:30</td>   <td>-367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;searchTest.setup()[pri:0, instance:testSteps.searchTest@56aac163]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1123629720</td>   <td></td> </tr>
<tr bgcolor="bbe1b6">  <td>20/07/31 18:38:42</td>   <td>10821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;searchTest.setup()[pri:0, instance:testSteps.searchTest@56aac163]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1123629720</td>   <td></td> </tr>
</table>
