<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe1b6">  <td>20/07/31 17:05:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginTest.LoginApp()[pri:0, instance:testSteps.loginTest@396f6598]">LoginApp</td> 
  <td>main@263025902</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/07/31 17:05:04</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductDescriptionTest.ProdDetails()[pri:0, instance:testSteps.ProductDescriptionTest@394e1a0f]">ProdDetails</td> 
  <td>main@263025902</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/07/31 17:05:04</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:testSteps.loginTest@396f6598]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/07/31 17:05:04</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:testSteps.searchTest@27a5f880]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/07/31 17:05:04</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:testSteps.ProductDescriptionTest@394e1a0f]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/07/31 17:05:04</td>   <td>-750</td> <td title="&gt;&gt;BaseClass.excelsetup()[pri:0, instance:testSteps.loginTest@396f6598]">&gt;&gt;excelsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@263025902</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/07/31 17:05:04</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initialize()[pri:0, instance:testSteps.loginTest@396f6598]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/07/31 17:05:04</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initialize()[pri:0, instance:testSteps.searchTest@27a5f880]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/07/31 17:05:04</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initialize()[pri:0, instance:testSteps.ProductDescriptionTest@394e1a0f]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/07/31 17:05:04</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.screenshot(org.testng.ITestResult)[pri:0, instance:testSteps.loginTest@396f6598]">&lt;&lt;screenshot</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/07/31 17:05:04</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.screenshot(org.testng.ITestResult)[pri:0, instance:testSteps.searchTest@27a5f880]">&lt;&lt;screenshot</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/07/31 17:05:04</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.screenshot(org.testng.ITestResult)[pri:0, instance:testSteps.ProductDescriptionTest@394e1a0f]">&lt;&lt;screenshot</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/07/31 17:05:04</td>   <td>-71</td> <td>&nbsp;</td><td title="&gt;&gt;ProductDescriptionTest.searchitem()[pri:0, instance:testSteps.ProductDescriptionTest@394e1a0f]">&gt;&gt;searchitem</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@263025902</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/07/31 17:05:04</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="searchTest.searchitem()[pri:0, instance:testSteps.searchTest@27a5f880]">searchitem</td> 
  <td>main@263025902</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/07/31 17:05:04</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;searchTest.setup()[pri:0, instance:testSteps.searchTest@27a5f880]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
